header#masthead{
	text-align: center;
	margin-top:5em;
}

header#masthead .site-title{
	font-size: 5em;
	
}
header#masthead .site-title a,
header#masthead .site-title a:visited{
	color: #333;
	text-decoration: none;
}
header#masthead .site-title a:hover{
	text-decoration:underline;
}

nav .menu{
	margin: 0 auto;
	display:table;
}
nav .menu ul{
	list-style: none;
}
nav .menu ul li{
	color: red;
	margin: 1px 2px;
	border: 1px solid #CCC;
	background-color: #777;
	display: inline;
}


#main{
	margin: 5em auto;
	max-width: 45em;
}

/* Post Entry */
article.hentry{
	margin-bottom: 3em;
}

/* Entry header */
.entry-header{
	text-align: center;
}
.entry-header a{
	text-decoration: none;
	color: #000;
}
.entry-header a:hover{
	color: #333;
	text-decoration: underline;
}
/** Entry Title */
.entry-header h1{
	font-size: 1.8em;
}
/** Entry meta */
.entry-header .entry-meta{
	font-size: 0.7em;
}

/* Entry content*/
article .entry-content{
	text-align: justify;
}

/* Entry footer */
article footer{
	font-size: 0.8em;
}
article footer a{
	color: #333;
	text-decoration: none;
}
article footer a:hover{
	color: #333;
	text-decoration: underline;
}