header#masthead{
	text-align: center;
	padding-top:3.5em;
}
header#masthead hgroup{
	padding-bottom: 1em;
}
header#masthead .site-title{
	font-size: 5em;
}
header#masthead .site-title a,
header#masthead .site-title a:visited{
	color: #333;
	text-decoration: none;
}
header#masthead .site-title a:hover{
	text-decoration:underline;
}
header#masthead .site-description{
	color: #777;
	font-style: italic;
}

header nav .site-navigation{
}

header nav .menu{
	font-size: 1.3em;
	margin: 0 auto;
	display:table;
}
header nav .menu ul{
	list-style: none;
	text-align: center;
	padding-top: 1px;
}
header nav .menu ul li{
	padding: 1.5px 1em;
	-moz-transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-o-transition: background-color 1s;
	transition: background-color 1s;
}
header nav .menu ul li:hover{
	background-color: #eee;
}
header nav .menu ul a{
	text-decoration: none;
	color: #686868;
}
header nav .menu ul a:hover{
	text-decoration: underline;
}

/* Primary Post area */
#primary{
	margin: 5em auto;
	max-width: 45em;
}

/* Post Entry */
article.hentry{
	margin-bottom: 3em;
}

/* Entry header */
.entry-header{
	text-align: center;
	margin: 0;
}
.entry-header a{
	text-decoration: none;
	color: #000;
}
.entry-header a:hover{
	color: #333;
	text-decoration: underline;
}
/** Entry Title */
.entry-header h1{
	font-size: 1.8em;
}
/** Entry meta */
.entry-header .entry-meta{
	font-size: 0.7em;
}

/* Entry content*/
article .entry-content{
	text-align: justify;
}
article h1{
	font-size: 1.65em;
}
article h2{
	font-size: 1.5em;
}
article h3{
	font-size: 1.45em;
}
article h4{
	font-size: 1.3em;
}
article h5{
	font-size: 1.2em;
}
article h6{
	font-size: 1.1em;
}

/* Secondary area */
#secondary{
	margin: auto 10%;
	padding: 2em 0;
	border-top: 1px solid #AAA;
}

aside.widget{
	width: 13em;
	float: left;
	margin: 0 1em 0 0;
	padding: 5px;

}


/* Entry footer */
article footer{
	font-size: 0.8em;
}
article footer a{
	color: #333;
	text-decoration: none;
}
article footer a:hover{
	color: #333;
	text-decoration: underline;
}


/* Page Footer */
#colophon .site-info{
	padding-right: 10%;
	float: right;
	font-size: 0.8em;
}